<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File Version</key>
	<string>1</string>
	<key>CHAbstractBinarySearchTree *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHAbstractListCollection *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHAnderssonTree *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHAVLTree *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHBidirectionalDictionary *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHBinaryTreeNode *</key>
	<dict>
		<key>SummaryString</key>
		<string>%object% (left={(*$VAR).left}, right={(*$VAR).right}) [{(long)(*$VAR).balance}]</string>
	</dict>
	<key>CHCircularBuffer *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHCircularBufferDeque *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHCircularBufferQueue *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHCircularBufferStack *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHDoublyLinkedList *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHDoublyLinkedListNode *</key>
	<dict>
		<key>SummaryString</key>
		<string>%object% (prev=%prev%, next=%next%)</string>
	</dict>
	<key>CHListDeque *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHListQueue *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHListStack *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHMultiDictionary *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} keys, {(int)[$VAR countForAllKeys]} values</string>
	</dict>
	<key>CHMutableArrayHeap *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHMutableDictionary *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} key/value pairs</string>
	</dict>
	<key>CHMutableSet *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHOrderedDictionary *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} key/value pairs</string>
	</dict>
	<key>CHOrderedSet *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHRedBlackTree *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHSearchTreeHeaderObject *</key>
	<dict>
		<key>SummaryString</key>
		<string>(singleton dummy header object)</string>
	</dict>
	<key>CHSinglyLinkedList *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHSinglyLinkedListNode *</key>
	<dict>
		<key>SummaryString</key>
		<string>%object% (next=%next%)</string>
	</dict>
	<key>CHSortedDictionary *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} key/value pairs</string>
	</dict>
	<key>CHTreap *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
	<key>CHUnbalancedTree *</key>
	<dict>
		<key>SummaryString</key>
		<string>{(int)[$VAR count]} objects</string>
	</dict>
</dict>
</plist>
