//
//  Common.xcconfig
//  CHDataStructures
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ALWAYS_SEARCH_USER_PATHS = NO
COMBINE_HIDPI_IMAGES = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_C_LANGUAGE_STANDARD = gnu99
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO

CLANG_WARN_STRICT_PROTOTYPES = YES_ERROR
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
