body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Lucida Grande, sans-serif;
	margin: 0;
}

body, table {
	font-size: 10pt;
}

h1 {
	font-size: 1.75em;
	background-color: #dae7fe;
}

h1, #footer {
	text-align: center;
	margin: 0;
	padding: 5px;
}

#footer {
	background-color: #6688d4;
	color: white;
	font-weight: bold;
}

#footer a, #footer a:visited {
	color: white;
}

a {
	color: #284FA8;
	text-decoration: underline;
}

a:visited {
	color: #7f8ba8;
}

a:hover {
	text-decoration: none;
}

td.headerValue {
	text-align: left;
	color: #284FA8;
	font-weight: bold;
}

table {
	margin: 15px;
	border-collapse: collapse;
	clear: both;
}

th {
	text-align: center;
	color: white;
	background-color: #6688d4;
	font-weight: bold;
	white-space: nowrap;
}

th, td {
	padding: 2px 4px;
	vertical-align: top;
}

td {
	border: 1px solid white;
}

#header {
	width: 100%;
	border: solid #6688d4;
	border-width: 2px 0;
	margin: 0;
}

#header table {
//	border-width: 0;
	margin: 10px 0;
	clear: none;
}

#header #overview {
	width: auto;
	float: left;
	margin-left: 10px;
}

#header #overview td.legend span {
	padding: 2px 4px;
	white-space: nowrap;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#header #summary {
	width: auto;
	float: right;
	margin-right: 10px;
}

#header #summary td {
	text-align: right;
}

#header td.label {
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
	white-space: nowrap;
}

center table th a {
	padding-right: 14px;
	background: url(updown.png) no-repeat right 1px;
}

center table th a, center table th a:visited, center table th a:active {
	color: white;
	text-decoration: none;
}

#breakdown td {
	background-color: #dae7fe;
	white-space: nowrap;
}

#breakdown td.file {
	text-align: left;
	color: #284FA8;
}

#breakdown td.bar {
	padding: 2px 5px;
	vertical-align: middle;
}

#breakdown td.bar table {
	border: none;
	margin: 0;
}

#breakdown td.coverBarOutline {
	border-color: black;
	padding: 0;
}

td.percent {
	font-weight: bold;
}

td.percent, td.ratio {
	text-align: right;
}

#breakdown tr.total {
	border-bottom: 5px solid #6688d4;
	font-weight: bold;
}

#source td {
	font-family: monospace;
	font-size: 90%;
	padding: 0 3px;
	text-align: right;
	white-space: nowrap;
	border: solid #bbb;
	border-width: 0 1px;
}

#source td.line {
	background-color: #dae7fe;
}

#source td.branch {
	white-space: nowrap;
	padding: 1px 2px;
}

#source td.branch span {
	margin: 1px;
}

#source td.branch, #source td.code {
	text-align: left;
}

#source td.code {
	white-space: pre-wrap;
}

#source tr:hover {
	background-color: #ddd;
}

#source tr:hover .line {
	background-color: #becade;
}

#source tr:hover .Cov {
	background-color: #6ff46f;
}

#source tr:hover .NoCov {
	background-color: #ff5457;
}

.Hi, #breakdown td.Hi, .Cov, ins {
	background-color: #9bff9b;
}

.Med, #breakdown td.Med, .DiffCov {
	background-color: #eff79d;
}

.Lo, #breakdown td.Lo, .NoCov, del {
	background-color: #ff7f7f;
}

ins, del {
	text-decoration: none;
	padding: 0 3px;
}

/* @group File view (detail) */

td.testNameHead {
	text-align: right;
	padding-right: 10px;
	background-color: #dae7fe;
	font-weight: bold;
}

td.testLinesHead {
	text-align: center;
	background-color: #dae7fe;
	font-weight: bold;
}

td.testName {
	text-align: right;
	padding-right: 10px;
	background-color: #dae7fe;
}

td.testPer {
	text-align: right;
	padding: auto 10px;
	background-color: #dae7fe;
}

td.testNum {
	text-align: right;
	padding: auto 10px;
	background-color: #dae7fe;
}

td.testDescription {
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 30px;
	background-color: #dae7fe;
}

/* @end */